<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - YumFusion</title>
    <link rel="stylesheet" href="../css/about_us.css">
</head>

<body>
  <header>
    <!-- Logo -->
    <div class="logo_container">
    <a href="../templates/index.html" class="logo">
      <img src="../images/logos/project_logo.png" alt="Yum Fusion logo coudn't be loaded" class="logo_img" >
    </a>
    </div>

    <div class="nav_item">
    <!-- Menu Links -->
    <ul class="menu">
      <li><a href="../templates/index.html" id="home" class="home-link active">Home</a></li>
      <li><a href="../templates/menu.html">Menu<a></li>
      <li><a href="../templates/contact_us.html">Contact us</a></li>
    </ul>
    </div>
  </header>
  
    <main>
        <div class="container">
            <h1>Discover Our Story</h1>
        </div>
    </main>
    

    <div class="container">
        <div class="section">

           <p>
                Born out of Fung Suk Wangdu's creation, YumFusion pays homage to his passion for Nepali cuisine.
                Imaginative yet rooted in tradition, Wangdu’s cuisine showcases the vibrant essence of his cooking,
                with strong influences from both traditional and local ingredients. Using time-honoured classic
                techniques and modern methods, our dishes showcase the regionally specific spices and flavours of the South Asian seaboard.</p>
    
        </div>

        <div class="section">
            <p>
                Our goal is simple: Make real Nepali food; recreate the exact experience we had back in Nepal.
                The results? Better than we ever imagined. Flattering reviews from customers and the local media have
                led to a family of restaurants. Along with our stylish design, warm character, and lively tunes, we
                promote a “live to eat” ethos and foster a convivial spirit at the table. Above all, YumFusion celebrates
                authentic, flavourful food and drink enjoyed amongst old and new friends. Blessed with a talented and hard-working
                team who share that passion to make great food, we invite you to experience a taste of Nepal.
            </p>
        </div>
    </div>

    <div class="container">
        <h2>Our Team</h2>
        <div class="section-member">

            <div class="team-member">
                <h3>Chef Bibash</h3>
                <img src="../images/about_us_image/bibash.jpg" alt="Chef Bibash">
            </div>

            <div class="team-member">
                <h3>Chef Bishal</h3>
                <img src="../images/about_us_image/bishal.jpg" alt="Chef Bishal">
            </div>

            <div class="team-member">
                <h3>Chef Nishant</h3>
                <img src="../images/about_us_image/nishant.jpg" alt="Chef Nishant">
            </div>

            <div class="team-member">
                <h3>Nabin</h3>
                <img src="../images/about_us_image/nabin.jpg" alt="Manager Nabin">
            </div>

            <div class="team-member">
                <h3>Yugal</h3>
                <img src="../images/about_us_image/yugal.jpg" alt="Manager Yugal">
            </div>

        </div>
    </div>

    <footer>
        <div class="social">
            <div class="contact">
                <p> Copyright © 2024 - YumFusion Kitchen</p>
                <p><strong>Address:</strong> 176 Yonge St, Toronto, ON M5C 2L7</p>
                <p><strong>Phone:</strong> <a href="tel:+1-123-456-7890" class ="contact_text">(123) 456-7890</a></p>
                <p><strong>Email:</strong> <a href="mailto:info@deliciouseats.com" class="email-text">info@deliciouseats.com</a></p>
            </div>
        
            <div class="logo-img">
                <a href="https://www.facebook.com/yum.fusion" class="logo"><img src="../images/logos/facebook_logo.png" alt="" class="facebook_logo"></a>
                <a href="https://www.instagram.com/yum.fusion" class="logo"><img src="../images/logos/instagram_logo.png" alt="" class="instagram_logo"></a>
                <a href="https://x.com/yum.fusion" class="logo"><img src="../images/logos/twitter_logo.png" alt="" class="twitter_logo"></a>
            </div>

            <div class="credit">
                <p>Designed & Developed by Incognito Group</p>
            </div>
        </div>
    </footer>

</body>

</html>
