<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - YumFusion</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <header>
    <!-- Logo -->
    <div class="logo_container">
    <a href="../templates/index.html" class="logo">
      <img src="../images/logos/project_logo.png" alt="Yum Fusion logo coudn't be loaded" class="logo_img" >
    </a>
    </div>

  <div class="nav_item">
    <!-- Menu Links -->
    <ul class="menu">
      <li><a href="../templates/index.html" id="home" class="home-link active">Home</a></li>
      <li><a href="../templates/menu.html">Menu<a></li>
      <li><a href="../templates/about_us.html">About us</a></li>
      <li><a href="../templates/contact_us.html">Contact us</a></li>
    </ul>
  </div>
  </header>

 <!-- Container -->
 <div class="container" >
  <!-- Text -->

  <div class="text-box">
    <p> तपाईंको भोजनको मजा लिनुहोस्!.</p>
    <a href="../templates/menu.html">Show Menu</a>
  </div>
</div>

    <!-- Footer -->
  <footer>
    <div class="social">
      <div class="contact">
        <p> Copyright © 2024 - YumFusion Kitchen</p>
        <p><strong>Address:</strong> 176 Yonge St, Toronto, ON M5C 2L7</p>   
        <p><strong>Phone:</strong> <a href="tel:+1-123-456-7890" class ="contact_text">(123) 456-7890</a></p>
        <p><strong>Email:</strong> <a href="mailto:info@deliciouseats.com" class="email-text">info@deliciouseats.com</a></p>
      </div>

      <div class="logo-img">
      <a href="https://www.facebook.com/yum.fusion" class="logo"><img src="../images/logos/facebook_logo.png" alt="" class="facebook_logo"></a>
      <a href="https://www.instagram.com/yum.fusion" class="logo"><img src="../images/logos/instagram_logo.png" alt="" class="instagram_logo"></a>
      <a href="https://x.com/yum.fusion" class="logo"><img src="../images/logos/twitter_logo.png" alt="" class="twitter_logo"></a>
      </div>
      
      <div class="credit">
      <p>Designed & Developed by Incognito Group</p>
      </div>
  </div>
  </footer> 
</body>
</html>

