<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - YumFusion</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>

<body>
    <header>
        <!-- Logo -->
        <div class="logo_container">
            <a href="../templates/index.html" class="logo">
              <img src="../images/logos/project_logo.png" alt="Yum Fusion logo coudn't be loaded" class="logo_img" >
            </a>
            </div>
        
          <div class="nav_item">
            <!-- Menu Links -->
            <ul class="menu">
              <li><a href="../templates/index.html" id="home" class="home-link active">Home</a></li>
              <li><a href="../templates/about_us.html">About us</a></li>
              <li><a href="../templates/contact_us.html">Contact us</a></li>
            </ul>
          </div>
    </header>

    <div class="container" >
        <h1>Our Menu</h1>
    </div>
    
    <main>
    <!-- Text -->
        <div class="menu-item">
                <h2>Dal Bhat</h2>
                <img src="../images/menu_image/dalbhat.jpg" alt="Dal Bhat">
                <p>Dal Bhat is a traditional Nepali meal consisting of steamed rice (bhat) and lentil soup (dal). 
                    It's often accompanied by vegetable curries, chutney, and sometimes meat or fish.</p>
                <p class="price">$7.50</p>
                <p class="rating">★★★★☆</p>
                <div class="clear"></div>
            </div>

            <div class="menu-item">
                <h2>Momo</h2>
                <img src="../images/menu_image/momo.jpg" alt="Momo">
                <p>Momo are Nepali dumplings filled with vegetables or meat, usually served with a spicy dipping sauce. 
                    They are a popular street food and snack in Nepal.</p>
                <p class="price">$6.00</p>
                <p class="rating">★★★★★</p>
                <div class="clear"></div>
            </div>

            <div class="menu-item">
                <h2>Chatamari</h2>
                <img src="../images/menu_image/chatamari.jpg" alt="Chatamari">
                <p>Chatamari is a traditional Newari dish often referred to as 'Nepali pizza.' 
                    It is a rice flour crepe topped with a variety of ingredients like minced meat, eggs, and vegetables.</p>
                <p class="price">$10.00</p>
                <p class="rating">★★★★☆</p>
                <div class="clear"></div>
            </div>

            <div class="menu-item">
                <h2>Sel Roti</h2>
                <img src="../images/menu_image/selroti.jpg" alt="Sel Roti">
                <p>Sel Roti is a traditional homemade, sweet, ring-shaped rice bread/doughnut. 
                    It is typically prepared during festivals and special occasions.</p>
                <p class="price">$4.50</p>
                <p class="rating">★★★☆☆</p>
                <div class="clear"></div>
            </div>

        <div class="menu-item">
            <h2>Thukpa</h2>
            <img src="../images/menu_image/thukpa.jpg" alt="Thukpa">
            <p>Thukpa is a noodle soup that originated in Tibet and is popular in Nepal. 
                It is made with meat and vegetables, providing a hearty and comforting meal.</p>
            <p class="price">$8.00</p>
            <p class="rating">★★★★☆</p>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Aloo Tama</h2>
            <img src="../images/menu_image/aloo-tama.jpeg" alt="Aloo Tama">
            <p>Aloo Tama is a traditional Nepali curry made with potatoes (aloo), bamboo shoots (tama), and black-eyed peas. 
                It has a unique tangy flavor and is often served with rice.</p>
            <p class="price">$9.00</p>
            <p class="rating">★★★★☆</p>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Samosa</h2>
            <img src="../images/menu_image/samosa.jpg" alt="Samosa">
            <p>Samosa is a popular snack in Nepal, consisting of a deep-fried pastry filled with spiced potatoes, peas, 
                and sometimes meat. It is usually served with chutney.</p>
            <p class="price">$4.00</p>
            <p class="rating">★★★★☆</p>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Gundruk</h2>
            <img src="../images/menu_image/gundruk.jpg" alt="Gundruk">
            <p>Gundruk is a fermented leafy green vegetable, often used as a pickle or in curries. 
                It is a significant part of Nepali cuisine and adds a distinct tangy flavor to dishes.</p>
            <p class="price">$5.00</p>
            <p class="rating">★★★☆☆</p>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Yomari</h2>
            <img src="../images/menu_image/yomari.jpg" alt="Yomari">
            <p>Yomari is a special Newari delicacy made from rice flour dough shaped like a fig and filled with a mixture of sesame seeds, 
                coconut, and molasses. It is especially prepared during the Yomari Punhi festival.</p>
            <p class="price">$5.50</p>
            <p class="rating">★★★★☆</p>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Kwati</h2>
            <img src="../images/menu_image/kwati.jpg" alt="Kwati">
            <p>Kwati is a traditional Nepali soup made from a mix of nine different sprouted beans. 
                It is typically prepared during the festival of Janai Purnima.</p>
            <p class="price">$7.00</p>
            <p class="rating">★★★★☆</p>
            <div class="clear"></div>
        </div>
        
        <div class="menu-item">
            <h2>Masala Chiya</h2>
            <img src="../images/menu_image/MasalaChiya.jpg" alt="Masala Chai">
            <p class="price">$2.50</p>
            <p class="rating">★★★★★</p>
            <div class="description">
                <p>Masala Chai is a popular spiced tea made with black tea, milk, and a variety of traditional Indian spices such as cardamom, cinnamon, and cloves.</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Butter Tea</h2>
            <img src="../images/menu_image/butterTea.jpg" alt="Butter Tea">
            <p class="price">$3.00</p>
            <p class="rating">★★★★☆</p>
            <div class="description">
                <p>Butter Tea, known as "Suja" in Nepal, is a traditional Tibetan drink made with tea leaves, yak butter, and salt. It's a unique and warming beverage, especially popular in mountainous regions.</p>
            </div>
            <div class="clear"></div>
        </div>

        
        <div class="menu-item">
            <h2>Juju Dhau</h2>
            <img src="../images/menu_image/jujuDhau.jpeg" alt="Juju Dhau">
            <p class="price">$4.00</p>
            <p class="rating">★★★★★</p>
            <div class="description">
                <p>Juju Dhau is a rich, creamy yogurt from the Newar community in Nepal, often referred to as "king of yogurt." It's traditionally served in clay pots and enjoyed as a dessert.</p>
            </div>
            <div class="clear"></div>
        </div>


        <div class="menu-item">
            <h2>Lassi</h2>
            <img src="../images/menu_image/Lassi.jpg" alt="Lassi">
            <p class="price">$3.50</p>
            <p class="rating">★★★★☆</p>
            <div class="description">
                <p>Lassi is a refreshing yogurt-based drink, often flavored with fruits like mango or sweetened with sugar. It’s perfect for cooling down on a hot day.</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="menu-item">
            <h2>Tongba</h2>
            <img src="../images/menu_image/Tongba.jpg" alt="Tongba">
            <p class="price">$5.00</p>
            <p class="rating">★★★★☆</p>
            <div class="description">
                <p>Tongba is a traditional alcoholic beverage made from fermented millet, commonly enjoyed in the eastern hills of Nepal. The drink is served hot in a wooden container with a bamboo straw.</p>
            </div>
            <div class="clear"></div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="social">
          <div class="contact">
            <p> Copyright © 2024 - YumFusion Kitchen</p>
            <p><strong>Address:</strong> 176 Yonge St, Toronto, ON M5C 2L7</p>   
            <p><strong>Phone:</strong> <a href="tel:+1-123-456-7890" class ="contact_text">(123) 456-7890</a></p>
            <p><strong>Email:</strong> <a href="mailto:info@deliciouseats.com" class="email-text">info@deliciouseats.com</a></p>
          </div>
    
          <div class="logo-img">
          <a href="https://www.facebook.com/yum.fusion" class="logo"><img src="../images/logos/facebook_logo.png" alt="" class="facebook_logo"></a>
          <a href="https://www.instagram.com/yum.fusion" class="logo"><img src="../images/logos/instagram_logo.png" alt="" class="instagram_logo"></a>
          <a href="https://x.com/yum.fusion" class="logo"><img src="../images/logos/twitter_logo.png" alt="" class="twitter_logo"></a>
          </div>
          
          <div class="credit">
          <p>Designed & Developed by Incognito Group</p>
          </div>
      </div>
      </footer> 
</body>
</html>
